.container.login
    form.form(ng-show="params.signInFormShow", ng-submit="signIn()")
        .title Авторизация
        .form-row
            .form-label Логин
            input.form-control(type="text",
                                ng-model="signInParams.username",
                                required="required",
                                placeholder="Логин",
                                ng-class="{error: signInParams.error}",
                                ng-focus="signInParams.error = false;")
        .form-row
            .form-label Пароль
            input.form-control(type="password",
                                ng-model="signInParams.password",
                                required="required",
                                placeholder="Пароль",
                                ng-class="{error: signInParams.error}",
                                ng-focus="signInParams.error = false;")

        .form-row(ng-show="signInParams.error")
            .form-error-message Пожалуйста, укажите верные логин и пароль
        .form-row
            img.pull-right(src="/images/loading.gif", style="margin-right: 10px;", ng-show="loading")
            input.btn.btn-primary.pull-right(type="submit", value="Войти", ng-hide="loading")
            a.btn.btn-link(ng-click="showSignUpForm()") Зарегистрироваться

    form.form(ng-show="params.signUpFormShow", ng-submit="signUp()")
        .title Регистрация
        .form-row
            .form-label Логин
            input.form-control(type="text",
                        ng-model="signUpParams.username",
                        required="required",
                        placeholder="Логин",
                        ng-class="{error: signUpParams.errorLogin}",
                        ng-focus="signUpParams.errorLogin = false;")
        .form-row
            .form-label Пароль
            input.form-control(type="password",
                        ng-model="signUpParams.password",
                        required="required",
                        placeholder="Пароль",
                        ng-class="{error: signUpParams.errorPasswords}",
                        ng-focus="signUpParams.errorPasswords = false;")
        .form-row
            .form-label Повторите пароль
            input.form-control(type="password",
                        ng-model="signUpParams.secondPassword",
                        required="required",
                        placeholder="Повторите пароль",
                        ng-class="{error: signUpParams.errorPasswords}",
                        ng-focus="signUpParams.errorPasswords = false;")

        .form-row(ng-show="signUpParams.errorLogin")
            .form-error-message Такой логин уже существует

        .form-row(ng-show="signUpParams.errorPasswords")
            .form-error-message Пароли не совпадают

        .form-row
            img.pull-right(src="/images/loading.gif", style="margin-right: 10px;", ng-show="loading")
            input.btn.btn-success.pull-right(type="submit", value="Зарегистрироваться", ng-hide="loading")
            a.btn.btn-link(ng-click="showSignInForm()") Авторизоваться
